Repository casperdcl/git-fame: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo, pytest

todo:
  name: Check TODO
  language: pygrep
  entry: WIP
  args:
  - -i

pytest:
  name: Run tests
  language: python
  entry: pytest
  args:
  - -qq
  - --durations=1
  pass_filenames: false
  additional_dependencies:
  - pytest-timeout
  - argopt
  - tabulate
  - tqdm

replace `pkg_resources` => `importlib.resources`
  gitfame/_gitfame.py
  setup.cfg
Due: todo, pytest

bump workflow actions & pre-commit
  .github/workflows/comment-bot.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: todo

framework overhaul
  .github/workflows/comment-bot.yml
  .github/workflows/test.yml
  .meta/requirements-build.txt
  .pre-commit-config.yaml
  LICENCE
  Makefile
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Due: todo, pytest

fix py312 tests
  .pre-commit-config.yaml
  gitfame/_utils.py
Due: todo, pytest

use PyPI trusted publishing
  .github/workflows/test.yml
Due: none

zip-safe
  gitfame/_gitfame.py
Due: todo, pytest

bump Dockerfile
  Dockerfile
Due: todo

Filter binary files from file list
  gitfame/_gitfame.py
Due: todo, pytest

slight tidy
  gitfame/_gitfame.py
Due: todo, pytest

update badge URLs
  README.rst
Due: todo

update docs
  .meta/.git-fame.1.md
  README.rst
  gitfame/_gitfame.py
  gitfame/git-fame.1
Due: todo, pytest

add multiprocessing support
  gitfame/_gitfame.py
Due: todo, pytest

need to close before join
  gitfame/_gitfame.py
Due: todo, pytest

add support for passing # of processes
  gitfame/_gitfame.py
Due: todo, pytest

fix typing
  gitfame/_gitfame.py
Due: todo, pytest

add support for author canonicalization
  gitfame/_gitfame.py
Due: todo, pytest

rework binary detection and loc logic
  gitfame/_gitfame.py
Due: todo, pytest

pathfix
  gitfame/_gitfame.py
Due: todo, pytest

update other codepath, optimize, and make more readable
  gitfame/_gitfame.py
Due: todo, pytest

flake
  .editorconfig
  gitfame/_gitfame.py
Due: todo, pytest

flake
  gitfame/_gitfame.py
Due: todo, pytest

yapf
  gitfame/_gitfame.py
Due: todo, pytest

yapf/flake fight resolution
  gitfame/_gitfame.py
Due: todo, pytest

output correct number of commits
  gitfame/_gitfame.py
Due: todo, pytest

fix eol detection
  gitfame/_gitfame.py
Due: todo, pytest

flake / yapf
  gitfame/_gitfame.py
Due: todo, pytest

docs: fix "dubious ownership" warning when using docker
  README.rst
Due: todo

docs: docker run command in the current directory by default
  README.rst
Due: todo

CI: fix py3.7
  .github/workflows/test.yml
Due: none

Fix little typo in documentation
  README.rst
Due: todo

fix more typos
  gitfame/_gitfame.py
  gitfame/git-fame.1
Due: todo, pytest

Add --show-name-and-email parameter.
  gitfame/_gitfame.py
  tests/tests_gitfame.py
Due: todo, pytest

add --show
  README.rst
  gitfame/_gitfame.py
  gitfame/git-fame.1
  tests/tests_gitfame.py
Due: todo, pytest

fix email parsing .mailmap
  gitfame/_gitfame.py
  tests/tests_gitfame.py
Due: todo, pytest

docs: fix "dubious ownership" warning & run in current directory
  README.rst
Due: todo

fix `--incl` & `--excl` when `--loc=ins,del`
  gitfame/_gitfame.py
Due: todo, pytest

fix `--bytype`
  gitfame/_gitfame.py
Due: todo, pytest

fix missing ctime, simplify syntax
  gitfame/_gitfame.py
Due: todo, pytest

docs: fix man output
  Makefile
  gitfame/git-fame.1
Due: todo

tests: fix term width
  gitfame/_gitfame.py
  tests/tests_gitfame.py
Due: todo, pytest

Path conditions:
  todo: any file but: ^(.pre-commit-config.yaml|.github/workflows/test.yml)$
  pytest: any of: \.py$
